<footer id="footer" class="footer clearfix">
  <div class="footer-wrap clearfix">
    <div class="footer-bottom clearfix">
      <div class="container">
        <div class="row">
          <div class="foot-col column column-1 text-center clearfix">
            <div class="logo-footer">
              <a href="index.html"
                ><img src="img/dugem-logos.png" alt="Logo-Footer"
              /></a>
            </div>
          </div>

          <div class="foot-col column column-1 text-center clearfix">
            <div class="social-footer">
              <ul>
                <li class="soc-icon">
                  <a href="#"><i class="icon icon-themify-13"></i>Twitter</a>
                </li>
                <li class="soc-icon">
                  <a href="#"><i class="icon icon-themify-17"></i>Facebook</a>
                </li>
                <li class="soc-icon">
                  <a href="#"><i class="icon icon-themify-11"></i>Google+</a>
                </li>
                <li class="soc-icon">
                  <a href="#"
                    ><i class="icon icon-social-dribbble"></i>Dribbble</a
                  >
                </li>
                <li class="soc-icon">
                  <a href="#"><i class="icon icon-behance2"></i>Behance</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="foot-col column column-1 text-center clearfix">
            <div id="copyright" class="copyright-text">
              © Copyright 2021, Built by ThemesAwesome All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
